<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>csw-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC400FDB1BD89D0000ECC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC400FF41BD89D0000ECC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC400FFF1BD89D0000ECC31B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
